@using EPiServer.Shell
@using EPiServer.Framework.Web.Resources

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title></title>

    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
    <link type="text/css" rel="stylesheet" href='@Paths.ToClientResource("CMS", "/App_Themes/Default/Styles/ToolButton.css")' />
    <link type="text/css" rel="stylesheet" href='@Paths.ToClientResource("CMS", "/App_Themes/Default/Styles/system.css")' />
    <link type="text/css" rel="stylesheet" href='@Paths.ToClientResource("CMS", "ClientResources/Epi/Base/CMS.css")' />
    <link type="text/css" rel="stylesheet" href='@Paths.ToClientResource("Geta.Epi.Rating.Admin", "Styles/rating.css")' />
    <link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.1.1/js/buttons.html5.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
    <script type="text/javascript" src="Scripts/rating-admin.js"> </script>
    
</head>
<body>
    
    @RenderBody()

</body>
</html>